html {
  font-family: 'Arial Cyr', sans-serif;
  font-size: 15px;
  font-stretch: extra-condensed;
}
div {
  overflow: hidden;
}
ul {
  overflow: hidden;
}
li {
  overflow: hidden;
}
h2 {
  overflow: hidden;
}
a {
  color: #4c4cd8;
  cursor: pointer;
  font-family: 'Arial', sans-serif;
  text-decoration: none;
}

a.anchor {
  display: block;
  visibility: hidden;
}
.anchor {
  position: relative;
  top: -100px;
}

.opaque {
  background-color: white;
}
.sticky {
  position: sticky;
}

.small-icon {
  width: 20px;
  height: 20px;
}
.big-icon {
  width: 40px;
  height: 40px;
}

.ellipsis-text {
  text-overflow: ellipsis;
  white-space: nowrap;
}
.full-text {
  overflow-wrap: break-word;
}

.muted {
  color: #707070;
}
.hidden-link-without-hover {
  color: inherit;
  text-decoration: none;
}
.hidden-link {
  color: inherit;
}
.hidden-link:hover {
  color: red;
}

.border {
  border: rgba(0, 0, 0, 0.16) 1px solid;
}
.border-top {
  border-top: rgba(0, 0, 0, 0.16) 1px solid;
}
.border-bottom {
  border-bottom: rgba(0, 0, 0, 0.16) 1px solid;
}
.shadow:hover {
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.32);
}

body {
  position: relative;

  min-height: 8vh;
  margin: 0;
  padding-bottom: 10vh;
}

body > header {
  top: 0;
  z-index: 1;

  width: 100%;
}
body > header .site-name {
  width: max-content;
  margin: 0 auto;
  padding: 0.5rem 1.6rem;

  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 32px;
  font-weight: normal;
}
body > header .site-name:first-letter {
  color: red;
}

body > main {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem 1.6rem 0;
}

.switcher {
  display: none;

  margin: 0;
}
.switcherLabel {
  display: inline-block;

  width: 40px;
  height: 40px;
  margin-left: 1px;

  background-image: url('images/icon/list.png');
  background-size: 40px 40px;
  content: '';
}
.switcherLabel:hover {
  cursor: pointer;
}
.switcher:checked ~ .switcherLabel {
  background-image: url('images/icon/cards.png');
}

.cat-container {
  display: block;

  margin-top: 0;
  padding-left: 0;
}

.cat-container > .cat-card {
  float: left;

  display: block;

  margin: 0.6rem 1.2rem 0.6rem 0;

  list-style-type: none;
}
.cat-container > .cat-card .cat-image {
  width: 240px;
  height: 240px;
}
.cat-container > .cat-card .cat-description {
  width: 240px;
  height: 160px;
}
.cat-container > .cat-card .cat-description > div {
  margin: 0.8rem;
}
.cat-container > .cat-card .cat-description .cat-name {
  margin: 0.8rem;

  font-size: 1.5rem;
  font-weight: normal;
}
.cat-container > .cat-card .cat-description .cat-information .cat-character,
.cat-container > .cat-card .cat-description .cat-information .cat-text {
  display: none;
}
.cat-container > .cat-card .cat-description .cat-information > div {
  margin-right: 0.4rem;
}
.cat-container > .cat-card .cat-description .cat-information .cat-status {
  margin-top: 1.2rem;
}

.switcher:checked ~ .cat-container > .cat-card {
  float: none;

  display: block;

  min-width: 800px;
  height: 400px;

  margin: 1.2rem 1.2rem 1.2rem 0;

  list-style-type: none;
}
.switcher:checked ~ .cat-container .cat-card .cat-image {
  float: left;

  width: 400px;
  height: 400px;
}
.switcher:checked ~ .cat-container > .cat-card .cat-description {
  float: left;

  width: calc(92vw - 400px);
  height: max-content;
}
.switcher:checked ~ .cat-container > .cat-card .cat-description > div {
  margin: 1.2rem;
}
.switcher:checked ~ .cat-container > .cat-card .cat-description .cat-name {
  font-size: 2rem;
}
.switcher:checked ~ .cat-container > .cat-card .cat-description .cat-information .cat-character,
.switcher:checked ~ .cat-container > .cat-card .cat-description .cat-information .cat-text {
  display: block;
}
.switcher:checked ~ .cat-container > .cat-card .cat-description .cat-information .cat-status,
.switcher:checked ~ .cat-container > .cat-card .cat-description .cat-information .cat-breed,
.switcher:checked ~ .cat-container > .cat-card .cat-description .cat-information .cat-diseases {
  display: none;
}
.switcher:checked ~ .cat-container > .cat-card .cat-description .cat-information > div {
  margin-right: 1.5rem;
}
.switcher:checked ~ .cat-container > .cat-card .cat-description .cat-information {
  font-size: 1.2rem;
}

body > footer {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 8vh;
}
body > footer .wrapper {
  padding: 0.5rem 1.6rem;
}
.contacts {
  display: inline-block;

  width: 50%;
}
.contacts > .write-us {
  margin-top: 4px;
}
.contacts .email {
  display: table;

  margin-top: 4px;
}
.contacts .email .email-icon {
  display: table-cell;

  margin-right: 5px;
}
.contacts .email .email-address {
  display: table-cell;

  vertical-align: middle;
}
.copyright {
  display: inline-block;

  width: 49%;

  text-align: right;
}
.copyright > .icons-made-by {
  margin-top: 4px;
}
.copyright > .site-copyright {
  margin-top: 4px;
}
